.search-bar {
  background-color: antiquewhite;
  width: 300px;
  box-shadow: 10px 10px 5px grey;
  margin: 10px;
}
#search-bar-header {
  font-size: 25px;
  font-weight: 700;
  margin: 3px;
}
.input-type {
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #4A90E2;
  background-color: transparent;
  outline: 0ch;
  outline-style: hidden;
  font-size: 1rem;
}
.input-type[type=number] {
  width: 40px;
}
.DayPicker-wrapper {
  font-size: 0.9rem;
}
.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Selectable .DayPicker-Day {
  border-radius: 0 !important;
  font-size: 0.8rem;
}
.Selectable .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
.DayPicker {
  display: inline-block;
}
.RangeExample #selected {
  font-size: 0.8rem;
}
.slider {
  width: 230px;
}
.brk-btn {
  cursor: pointer;
  position: relative;
  background: none;
  color: #4A90E2;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid #4A90E2;
  padding: 0.5em 1em;
}
.brk-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #222;
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #222;
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(45deg);
  -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn:hover::before {
  right: 80%;
}
.brk-btn:hover::after {
  left: 80%;
}
