* {
  box-sizing: border-box;
}
body {
  background: #e2e2e2;
}
.new-item {
  display: flex;
  flex-direction: row-reverse;
  width: 51vw;
  margin-top: 69px;
  margin: auto;
}
.image-container {
  width: 400px;
  height: 580px;
  overflow: hidden;
  margin: 0;
}
.image-container img {
  display: block;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}
.container {
  top: 100px;
  height: 580px;
  margin-bottom: 80px;
  width: 500px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 0px 20px 20px 0px;
}
h2 {
  margin: 0px;
  margin-top: 8px;
  padding: 0px;
  font-weight: lighter;
  color: #414141;
  text-align: center;
}
input {
  display: block;
  margin: 0 auto;
  border: none;
}
input::placeholder {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: .5s;
  transition: .5s;
}
input:hover,
input:focus,
input:active:focus {
  color: #ff5722;
  outline: none;
  border-bottom: 1px solid #ff5722;
}
input:hover::placeholder,
input:focus::placeholder,
input:active:focus::placeholder {
  color: #ff5722;
  position: relative;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
input[type=text] {
  width: 400px;
  height: 50px;
}
#location-info input[type=text] {
  width: 160px;
  height: 50px;
}
input[type=number] {
  width: 160px;
  height: 50px;
}
input[type=date] {
  width: 160px;
  height: 50px;
}
input[type=time] {
  width: 160px;
  height: 50px;
}
#fixed {
  width: 400px;
}
#date-time-input {
  display: flex;
}
#location-info {
  display: flex;
}
#price-container {
  display: flex;
}
input {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', sans-serif;
  color: #858585;
  font-weight: lighter;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 5px auto;
}
label {
  font-family: 'Open Sans', sans-serif;
  color: #858585;
  font-weight: lighter;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 12px;
  display: inline;
  width: 10px;
}
input[type=radio] {
  background-color: #414141;
  display: none;
  font-size: 30px;
  display: inline;
  color: red;
  margin-left: 30px;
}
.radio-buttons {
  margin-left: 100px;
}
.add-concert-button {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #d44260;
  color: black;
  height: 40px;
  width: 160px;
}
.add-concert-button:hover {
  background-color: #b5334d;
}
.button {
  display: flex;
  justify-content: center;
}
#popButtonPost {
  background-color: black;
  color: white;
  width: 15vw;
  text-align: center;
}
.popMsg {
  text-align: center;
}
