.concert-box {
  background-color: black;
  height: 250px;
  width: 250px;
  margin:10px;
  color:white;
}

.concert-box-img{

}

.concert-box-img img {
  max-width: 100%;
  max-height: 100%;
}

.concert-box-info {
display: flex;
text-align: center;
}

#concert-box-date{
  background-color: sandybrown;
}

#concert-box-price{
  background-color: #ffdd59;
  color: black;
  margin: 3px;
}