.concertBox {
  background-color: black;
  height: 200px;
  width: 200px;
}
.concert-box {
  background-color: #000000;
  height: 19.9vw;
  width: 23vw;
  border-radius: 7px;
  margin: auto;
  display: grid;
  grid-template-rows: 4fr 2fr;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  margin-bottom: 1vw;
}
.concert-box:hover {
  box-shadow: 0 0 1em #8c8c8c;
  color: #ffef67;
}
.concert-box-img img {
  max-width: 100%;
  max-height: 100%;
  height: 14vw;
  width: 25vw;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.concert-box-info {
  display: grid;
  grid-template-columns: 3fr 1fr;
  text-align: center;
}
#concert-box-date {
  background-image: url("https://cdn.pixabay.com/photo/2015/09/10/14/48/gradient-934515_960_720.jpg");
  background-size: 200px 110px;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 2fr 1.6fr;
  border-bottom-right-radius: 7px;
}
#concert-box-date #day {
  font-size: 1.3vw;
  font-weight: bold;
  color: black;
}
#concert-box-date #month {
  font-size: 1.2vw;
  color: black;
}
#concert-box-price {
  background-color: #ffeb3b73;
  color: black;
  font-size: 1.9vw;
  font-weight: bolder;
  border-bottom-right-radius: 7px;
}
.textInfo {
  text-align: left;
  margin-left: 10px;
}
.textInfo .artist {
  font-size: 1.9vw;
}
.textInfo .smallInfo {
  font-size: 1.3vw;
}
